

.h1{
    font-size: 15px;
    padding: 100px 500px 0px 0px;
   
    color: blue;
    font-family: "Arial Black", Gadget, sans-serif;
}

.updatelable{
    font-size: 15px;
    padding: 100px 500px 0px 0px;
    color: blue;
    position: absolute;
    height: 20px;
    width: 50px;
    background-color: brown;
    font-family: "Arial Black", Gadget, sans-serif;
}
.reg{
   position: relative;
   padding: 100px 100px 100px 100px;
    background-color:aqua;
    
}


input[type="text"]{
    padding: 4px 30px 10px 10px;
    border: 1px solid gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    margin:5px;
}
input[type="password"]{
    padding: 4px 30px 10px 10px;
    border: 1px solid gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    margin:5px;
}



input[type="submit"]{
    margin:10px 0px 10px 100px;
    padding: 5px;
    border:1px solid black;
    border-radius: 8px;
    background-color: grey;
    color: white;
}
.users  {
    margin:250px 10px 10px 490px;
    padding: 8px;
    
    border-radius: 18px;
    
    color:black;
}
.selectable{
    cursor: pointer;
}
